mixin jal()
	+b.jal.container.py-5&attributes(attributes)
		#jaluziAnchor
		block
		mixin titleLeft(title)
			.title-left
				.title-left__title= title
				.title-left__sep
		+titleLeft('Жалюзи')
		.row
			.col-12.col-lg-3.mb-5.mb-lg-0
				mixin sideNav(i1, i2, i3, i4, i5, i6)
					div.side-nav(class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical")
						a.side-nav__li(class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#i1" role="tab" aria-controls="v-pills-home" aria-selected="true")= i1
						a.side-nav__li(class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#i2" role="tab" aria-controls="v-pills-profile" aria-selected="false")= i2
						a.side-nav__li(class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#i3" role="tab" aria-controls="v-pills-messages" aria-selected="false")= i3
						a.side-nav__li(class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#i4" role="tab" aria-controls="v-pills-settings" aria-selected="false")= i4
						a.side-nav__li(class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#i5" role="tab" aria-controls="v-pills-settings" aria-selected="false")= i5
						a.side-nav__li(class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#i6" role="tab" aria-controls="v-pills-settings" aria-selected="false")= i6
				+sideNav('Горизонтальные жалюзи', 'Вертикальные жалюзи', 'Рулонные шторы', 'Фотожалюзи', 'Шторы-плиссе', 'Жалюзи с электроприводом')
			.col.jal__right-wrap.ml-0.ml-lg-3
				.jal__right
					// Миксин заголовка
					mixin titleSimple(title)
						.title-simple= title
					// Миксин карточки
					mixin jalCard(ttl, price, btn)
						.col-12.col-sm-6.col-lg-4.mb-5
							.jal__card.d-flex.flex-column.justify-content-between
								.jal__card-img(style='background-image: url("images/jalcard-img1.png")')
								//- img(src= img).jal__card-img
								.jal__card-title= ttl
								.jal__card-price от 
									.jal__card-price-num= price
								.jal__card-more 
									a(href='' data-toggle='modal' data-target='#details').jal__card-more-a Подробнее
					div(class="tab-content" id="#i1")
						div(class="tab-pane fade show active" id="i1" role="tabpanel" aria-labelledby="pills-home-tab")
							.row
								+jalCard('Пластиковые горизонтальные жалюзи', '7000 RUB', 'btn')
								+jalCard('Алюминиевые горизонтальные жалюзи', '7000 RUB', 'btn')
								+jalCard('Деревянные горизонтальные жалюзи', '7000 RUB', 'btn')
								+jalCard('Кассетные горизонтальные жалюзи', '7000 RUB', 'btn')
								+jalCard('Жалюзи из бамбука', '7000 RUB', 'btn')
							+titleSimple('Горизонтальные жалюзи')
							.jal__right-txt
								.jal__right-txt-preview 
									p Горизонтальные жалюзи приобрели популярность еще в эпоху Средневековья, многие состоятельные люди украшали окна дома деревянными горизонтальными панелями. На сегодняшний день, данный элемент интерьера не теряет оборотов, улучшилось лишь качество и разнообразие моделей.
								.jal__right-txt-more#collapseJalOne.collapse
									.jal__right-txt-more-wrap 
										p Горизонтальные жалюзи на пластиковые окна обладают рядом достоинств:
										ul.content__ul
											li.content__li Отлично подойдет и для дома, и для офиса;
											li.content__li Простая и быстрая установка;
											li.content__li Полная защита от солнечных лучей;
											li.content__li У нас горизонтальные жалюзи заказать можно из самых разнообразных материалов;
											li.content__li Современный материал не выгорает и создает особый уют помещению.
										p Купить горизонтальные жалюзи можно прямо на сайте нашей компании Clever.ru.

								.jal__right-txt-more-btn.collapsed(data-toggle="collapse" data-target="#collapseJalOne") Смотреть весь текст
						div(class="tab-pane fade" id="i2" role="tabpanel" aria-labelledby="pills-profile-tab")
							.row
								+jalCard('Тканевые вертикальные жалюзи', '7000 RUB', 'btn')
								+jalCard('Мультифактурные вертикальные жалюзи', '7000 RUB', 'btn')
								+jalCard('Пластиковые вертикальные жалюзи', '7000 RUB', 'btn')
							+titleSimple('Вертикальные жалюзи')
							.jal__right-txt
								.jal__right-txt-preview Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus.
								.jal__right-txt-more-btn.collapsed(data-toggle="collapse" data-target="#collapseJal2") Смотреть весь текст
								.jal__right-txt-more#collapseJal2.collapse Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
						div(class="tab-pane fade" id="i3" role="tabpanel" aria-labelledby="pills-contact-tab")
							.row
								+jalCard('Тканевые рулонные шторы', '7000 RUB', 'btn')
								+jalCard('Рулонные шторы День-ночь', '7000 RUB', 'btn')
								+jalCard('Рулонные шторы Зебра', '7000 RUB', 'btn')
							+titleSimple('Рулонные жалюзи')
							.jal__right-txt
								.jal__right-txt-preview Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus.
								.jal__right-txt-more-btn.collapsed(data-toggle="collapse" data-target="#collapseJal3") Смотреть весь текст
								.jal__right-txt-more#collapseJal3.collapse Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
						div(class="tab-pane fade" id="i4" role="tabpanel" aria-labelledby="pills-contact-tab")
							.row
								+jalCard('Фотожалюзи с 3D-печатью', '7000 RUB', 'btn')
								+jalCard('Фотожалюзи рулонные', '7000 RUB', 'btn')
								+jalCard('Фотожалюзи вертикальные', '7000 RUB', 'btn')
								+jalCard('Фотожалюзи кассетные', '7000 RUB', 'btn')
							+titleSimple('Фотожалюзи')
							.jal__right-txt
								.jal__right-txt-preview Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus.
								.jal__right-txt-more-btn.collapsed(data-toggle="collapse" data-target="#collapseJal4") Смотреть весь текст
								.jal__right-txt-more#collapseJal4.collapse Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
						div(class="tab-pane fade" id="i5" role="tabpanel" aria-labelledby="pills-contact-tab")
							+titleSimple('Шторы-плиссе')
							.jal__right-txt
								.jal__right-txt-preview Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus.
								.jal__right-txt-more-btn.collapsed(data-toggle="collapse" data-target="#collapseJal5") Смотреть весь текст
								.jal__right-txt-more#collapseJal5.collapse Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
						div(class="tab-pane fade" id="i6" role="tabpanel" aria-labelledby="pills-contact-tab")
							+titleSimple('Жалюзи с электроприводом')
							.jal__right-txt
								.jal__right-txt-preview Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus.
								.jal__right-txt-more-btn.collapsed(data-toggle="collapse" data-target="#collapseJal6") Смотреть весь текст
								.jal__right-txt-more#collapseJal6.collapse Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
